*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: sans-serif;
    font-weight: 200;
    letter-spacing: -0.05em;
}

html, body{
    background-color: #000000;
    color: #eed8ff;
}

header{
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 5%;
}

.response {
    font-size: clamp(12px, 5vw, 24px);
    padding: 0 5%;
}

span{
    opacity: 0.1;
}

#bottom{
    margin-bottom: 100vh;
}

.logo{
    max-height: 200px;
}
.hero{
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
} 

#content{
    position: fixed;
    top: 200px;
    left: 0;
    width: 100%;
    overflow-y: scroll;
    height: calc(100% - 200px);
}

#conversation {
    margin: 0 auto;
    max-width: 800px;
}

.spacer{
    height: 200px;
}

.recorder{
    position: absolute;
    bottom: 0px;
    margin-left: calc(50% - 50px);
    cursor: pointer;
}

#mic{
    border: solid 1px #b68fe1;
    border-radius: 30px;
    padding: 10px;
}

.centered{
  text-align: center;
    position: fixed;
    top: 166px;
    left: calc(50% - 140px);
    height: 20px;
}